@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "reset";

body {
  overflow: hidden;
  background-color: red;
}

.line {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  white-space: nowrap;
  text-transform: uppercase;
  color: black;

  &:nth-child(odd) {
    transform: translateX(100%);
    animation: A 60s linear infinite;
  }

  &:nth-child(even) {;
    direction: rtl;
    transform: translateX(-100%);
    animation: B 60s linear infinite;
  }
}

@keyframes A {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes B {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}